body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Cleaner font */
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
}

h1 {
    font-size: 1.8rem;
}

.logo {
    height:50px;
    width:auto;
}

#loading-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-box {
    padding: 20px 40px;
    background: white;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.search-container {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
}

.search-container > div {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#searchInput {
    flex: 1;
    padding: 12px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

#searchInput:focus {
    outline: none; 
    border-color: #005fcc;
    box-shadow: 0 0 0 3px rgba(0, 95, 204, 0.3);
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #FF8400 transparent transparent transparent !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #FF8400 !important;
    border-radius: 5px
}

.btn-search, .btn-clear {
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-left: 5px;
}

.btn-search { background-color: #005fcc; color: white; }
.btn-clear { background-color: #dc3545; color: white; }

.btn-search:hover { background-color: #004da7; }
.btn-clear:hover { background-color: #a71d2a; }

.table-cnt {
    margin: 20px auto;
    width: 90%;
    max-width: 800px;
}

#kitName {
    display: block;
    margin-bottom: 0px;
    padding: 10px 15px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #005fcc;
    text-align: center;
    border-radius: 10px;
}

#kitTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    /*border: 1px solid #0056b3;*/
}

#kitTable th, #kitTable td {
    padding: 12px 15px;
    text-align: left;
    /*border: 1px solid #0056b3;*/
}

#kitTable th:first-child, #kitTable td:first-child,
#kitTable th:last-child, #kitTable td:last-child{
    text-align: center;
}

#kitTable thead tr {
    background-color: #007bff;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.1em;
}

#kitTable tbody tr:nth-of-type(even) {
    background-color: #D6EAF8;
}

#kitTable tbody tr:hover {
    background-color: #EBF5FF;
}
