* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
}

h1 {
    font-size: 1.8rem;
}

.logo {
    height:50px;
    width:auto;
}

#loading-overlay {
    flex-direction: column;
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loading-overlay div {
    width: 150px;
    height: auto;
    padding: 10px 25px 10px 25px;
    background: white;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

#loading-overlay div img{
    width: 100px;
    height: 100px;
}

.search-container {
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
}

.search-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

#searchInput {
    flex: 1;
    min-width: 250px;
    padding: 12px 15px;
    margin: 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

#searchInput:focus {
    outline: none; 
    border-color: #005fcc;
    box-shadow: 0 0 0 3px rgba(0, 95, 204, 0.3);
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #FF8400 transparent transparent transparent !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #FF8400 !important;
    border-radius: 5px
}

.btn-group {
    width: 100%;
    display: flex;
    gap: 10px;
    flex: 1;
    margin: 0;
}

.btn-group button {
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    margin: 0;
    white-space: nowrap;
    color: white;
}

.btn-search { background-color: #005fcc; }
.btn-clear { background-color: #dc3545; }
.btn-refresh { background-color: #17a2b8; }

.btn-search:hover { background-color: #004da7; }
.btn-clear:hover { background-color: #a71d2a; }
.btn-refresh:hover { background-color: #117a8b; }

.table-cnt {
    margin: auto;
    min-width: 100px;
    max-width: 800px;
}

#kitName {
    display: block;
    width: 100%;
    min-width: 200px;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #005fcc;
    text-align: center;
    border-radius: 10px;
}

.table-responsive {
    overflow-x: auto; /*horizontal scrollbar*/
    -webkit-overflow-scrolling: touch; /*iOS scrollbar*/
    border-radius: 10px 10px 0 0;
    margin-top: 5px;
}

#kitTable {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border-collapse: collapse;
    /*overflow: hidden;
    border: 1px solid #0056b3;*/
}

#kitTable th, #kitTable td {
    padding: 12px 15px;
    text-align: left;
    /*border: 1px solid #0056b3;*/
}

#kitTable th:first-child, #kitTable td:first-child,
#kitTable th:last-child, #kitTable td:last-child{
    text-align: center;
}

#kitTable thead tr {
    background-color: #007bff;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.1em;
}

#kitTable tbody tr:nth-of-type(even) {
    background-color: #D6EAF8;
}

#kitTable tbody tr:hover {
    background-color: #EBF5FF;
}

@media screen and (max-width: 600px) {
    h1 { font-size: 1.2rem;}
    body { padding: 5px; }
    #searchInput { flex: none; }
    
    .table-cnt { 
        padding: 0;
        max-width: 600px;
    }

    .search-wrapper {
        flex-direction: column;
        align-items: stretch;
    }

    .btn-group button {
        flex: 1;
        padding: 12px 5px;
    }
}